<div id="navbar">
        <a id="homeLogo" href="#">Archie Webshop</a>  
        <div class="navbar-collapse">
            <ul class="navbar-items">
                <li><a href="#" routerLink="/home" routerLinkActive="nav-link-active" class="nav-link">Home</a></li>
                <li><a href="#" routerLink="/register" routerLinkActive="nav-link-active" class="nav-link">Register</a></li> 
                <li><a href="#" routerLink="/countries" routerLinkActive="nav-link-active" class="nav-link">Countries</a></li> 
            </ul>  
        </div> 
    </div>
<div id="container">
  <router-outlet></router-outlet>
</div>